<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Framework</title>
</head>
<body>
<h1>Edit todo</h1>

<table>

    <form th:action="@{/todo/update/{id}(id=${todo.user.id})}"
          th:object="${todo}" method="POST">
        <table border="0">
            <tr th:if="${todo.id}">
                <td>ID</td>
                <td>:</td>
                <td th:utext="${todo.id}">...</td>
                <td><input type="hidden" th:field="*{id}" id="id"/></td>
            </tr>
            <tr>
                <td>Description</td>
                <td>:</td>
                <td><input type="text" th:field="*{description}"/></td>
            </tr>

            <tr>
                <td>Severity</td>
                <td>:</td>
                <td>
                    <select th:field="*{severity}">
                        <option th:value="'Low'" th:text="Low"></option>
                        <option th:value="'High'" th:text="High"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Comleted</td>
                <td>:</td>
                <td><input type="checkbox" th:field="*{completed}"/></td>
            </tr>
            <tr>
                <td>User</td>
                <td>:</td>
                <td th:utext="${todo.user.userName}">...</td>
<!--                <td><input type="hidden" th:value="${todo.user}" th:attr="name='user'"/></td>-->
<!--                <td><input type="hidden" th:field="*{user}" /></td>-->
            </tr>
        </table>
        <input type="submit" th:value="Submit"/>
    </form>
</table>
<br/>

</body>
</html>